{% extends "layout.html" %}
{% block title %} Index {% endblock %}
{% block content %}
    <div class="container-fluid" style="padding: 0%">
        <video autoplay muted loop id="backgroundvideo" style="position: fixed; min-width: 100%; min-height: 100%; opacity: 0.9;">
            <source src="static/pexels-gamol-9450558.mp4" type="video/mp4">
          </video>
        </div>
          <div style="margin-top: 50px; margin-bottom: 50px"></div>
          <div class="container-sm text-center position-absolute top-50 start-50 translate-middle">
            <img src="static/images/Trade_Central__2_-removebg-preview.png">
            <h6 style="color: white">Select a currency to explore news...</h6>
            <div style="margin-top: 30px; margin-bottom: 30px"></div>
            <form  method="post">
                <select name="currency" id="currency">
                    {% for item in currencies %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-light" type="submit">
            </form>
    </div>
{% endblock %}